<div class="banner bg-primary">
  <div class="banner-container">
    <img src="{{ '/assets/img/linux.svg' | relative_url }}" alt="Linux">
    <img src="{{ '/assets/img/aws.svg' | relative_url }}" alt="MariaDB">
    <img src="{{ '/assets/img/php.svg' | relative_url }}" alt="PHP">
    <img src="{{ '/assets/img/ubuntu.svg' | relative_url }}" alt="Ubuntu">
    <img src="{{ '/assets/img/debian.svg' | relative_url }}" alt="Debian">
    <img src="{{ '/assets/img/gitlab.svg' | relative_url }}" alt="Gitlab">
    <img src="{{ '/assets/img/github.svg' | relative_url }}" alt="GitHub">
    <img src="{{ '/assets/img/wordpress.svg' | relative_url }}" alt="WordPress">
    <img src="{{ '/assets/img/laravel.svg' | relative_url }}" alt="Laravel">
  </div>
</div>
