.banner {
  width: 100%;
  overflow: hidden;
}

.banner-container {
  display: flex;
  animation: bannerScroll 15s linear infinite; /* Adjust duration and timing function as needed */
}

.banner img {
  width: 80px; /* Adjust image size as needed */
  margin-right: 30px; /* Adjust spacing between images */
}

.bg-warning {
  background-color: orange; /* Set the background color */
}

@keyframes bannerScroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
